<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiApprover" version="6.0.0" targetFramework="net452" />
  <package id="ApprovalTests" version="3.0.13" targetFramework="net452" />
  <package id="ApprovalUtilities" version="3.0.13" targetFramework="net452" />
  <package id="FakeItEasy" version="2.3.1" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net452" />
  <package id="NServiceBus" version="6.1.0-rc0002" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="PublicApiGenerator" version="6.0.0" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.4.3" targetFramework="net452" />
</packages>